/* CSS RESET */

body,div,dl,dt,dd,ul,ol,li,h1,pre,form,input,p,td{
    margin: 0;
    padding: 0;}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img{
    border: 0;
}

ul{
    list-style: none;
    list-style-position: outside;
}

a {
    outline: none;
}


/* Essential */

body{
    background: #F9FCFC;
    color: #666666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

p{
    line-height: 150%;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

/* Header */
header{
    height: 140px;
    background: #F4F8F9;
}


/* MAIN NAVIGATION */

header ul{
    float: right;
    margin: 35px 0;
}
header li{
    float: left;
    display: inline-block;
    width: 90px;
    height: 36px;
    margin: 0 15px 0 0;
}

header li a{
    color: #2C6069;
    display: inline-block;
    width: 100px;
    height: 36px;
    text-align: center;
    font-weight: bold ;
    line-height: 36px;
    border: 1px solid #CDE0E4;
}

/* TABLE */

.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-vn4c{background-color:#D2E4FC}
.tg .tg-0{background-color:#CDE0E4}

#tabella_stampa{
    text-align: center;
    position: absolute;
    float: right;
    top: 40%;
    left: 10%;
}


/* LOGIN */

.login{
    border: 2px solid #2C6069;
    width: 250px;
    padding: 10px;
    height: 150px;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 25%;
}

/* LOGO */
.logo{
    transform: scale(0.5,0.5);
    position: absolute;
    top: -8%;
    left: 5%;
}

/* FUNZIONI */
#funzioni{
    line-height: 25px;
    right: 50%;
    top: 20%;
    text-align: left;
    position: absolute;
}
/* SUBMIT */

input#button1{
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    padding:5px 25px; /*add some padding to the inside of the button*/
    background: #CDE0E4; /*the colour of the button*/
    border:1px solid #2C6069;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
